server {
        server_name opensearch.[TUDOMINIO.com];
        listen 80;
        client_max_body_size 100M;

        server_tokens off; #Hide nginx version and OS

        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
        location / {
                proxy_pass https://localhost:9200/;
                proxy_cookie_domain localhost opensearch.[TUDOMINIO.com];
        }
}
